Bio==1.8.0
biopython==1.84
joblib==1.4.2
numpy==1.23.5
pandas==2.3.1
pytorch_lightning==2.4.0
scikit_learn==1.7.1
scipy==1.16.1
Shapely==2.1.1
torch==2.1.0
torch_geometric==2.6.1
torch_scatter==2.1.2+pt21cu121
torchmetrics==1.4.3
